# Environment files
.env
.flaskenv

# Python bytecode
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Migration files
migrations/

# Database files
*.sqlite3

# personal backup 
./app/backup

# System files
.DS_Store
Thumbs.db

# log files 
log/logs.log