{% extends "base.html" %}

{% block title %}Simulation{% endblock %}

{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/simulation.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Simulation Controls</h2>
            <div class="btn-group mb-3">
                <button id="startBtn" class="btn btn-primary">Start Simulation</button>
                <button id="pauseBtn" class="btn btn-warning" disabled>Pause</button>
                <button id="resetBtn" class="btn btn-danger">Reset</button>
            </div>
            <p id="status">Status: Stopped</p>
        </div>
    </div>

    <div id="container">
        
    </div>
</div>
<script src="{{ url_for('static', type='module' ,filename='js/simulation.js') }}"></script>

{% endblock %}